* {margin: 0; padding: 0;}

div {
  margin: 0px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 12px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 5px 0 0;
}

li p {
  font: bold 200 12px/1.5 Helvetica, Verdana, sans-serif;
}

.delete_button {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    float: left;
    border: 1px;
    right:0px;
    bottom:0;
    margin:0px;
    padding:0px;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

/* CSS Grid layout stuff below */

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.box .box {
    background-color: #ccc;
    color: #444;
}

.d{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 20fr;
}

.e {
    grid-column: 1;
    grid-row: 1;
}

.f {
    grid-column: 2 / 21;
    grid-row: 1;
}

.g {
    grid-column: 1 / 15;
    grid-row: 2;
}

.h {
    grid-column: 15 / 21;
    grid-row: 2;
}

