<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
  </head>
  <body>
      <div class="wrapper">
          <div class="box d">
              <div class="box e">X</div>
              <div class="box f">Price</div>
              <div class="box g">Title</div>
              <div class="box h">Image</div>
          </div>
      </div>
      <div id='<%= htmlWebpackPlugin.options.root %>'></div>
  </body>
</html>
