* {margin: 0; padding: 0;}

/* CSS Grid layout stuff below */

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    background-color: #fff;
    font: bold 12px/1.5 Helvetica, Verdana, sans-serif;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.box .box {
    background-color: #ccc;
    color: #444;
}

.d{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 20fr;
}

.e {
    grid-column: 1;
    grid-row: 1;
}

.f {
    grid-column: 2 / 21;
    grid-row: 1;
}

.g {
    grid-column: 1 / 15;
    grid-row: 2;
}

.h {
    grid-column: 15 / 21;
    grid-row: 2;
}

